.container {
    background-color: rgba(142, 142, 142, 0.252);
    border-radius: 10px;
    padding: 10px;
    user-select: none;
    width: 100%;
    min-height: 500px;
}

.tabHeader {
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    height: 50px;
    width: 100%;
}

.tabHeader>div {
    width: 25%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.tabHeader>div.show {
    background-color: rgba(49, 158, 230, 0.5);
}

.tabBody {
    display: grid;
    justify-content: center;
    display: grid;
    justify-content: center;
}

#logs,
.tabBody,
#form>div:first-child {
    padding: 10px;
}

#form>div:first-child {
    width: 800px;
}

#logs>div {
    padding: 5px;
    width: 600px;
}

#logs>div:nth-child(odd) {
    background-color: rgba(140, 140, 140, 0.5);
}

#logs>div:nth-child(even) {
    background-color: rgba(103, 103, 103, 0.5);
}

#logs>div:first-child {
    border-radius: 10px 10px 0 0;
}

#logs>div:last-child {
    border-radius: 0 0 10px 10px;
}

#form>div:last-child {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
    justify-content: center;
}

#info .important {
    color: rgb(233, 33, 33);
}

#info {
    text-indent: 2em;
}

#login button {
    width: 100%;
}