h3,
#formname {
    text-align: center;
}

body {
    overflow-x: hidden;
}

.important {
    color: red;
}

.italic {
    font-style: italic;
}

.italic:hover {
    font-style: italic;
    color: rgb(255, 0, 0);
}

.hidetxt {
    display: block!important;
    opacity: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hidetxt:hover {
    opacity: 1;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    height: 1rem;
    width: 9rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #999;
}

.description {
    background-color: white;
    word-wrap: break-word;
    text-indent: 2rem;
    bottom: 10rem;
    width: 70%;
}

#app {
    background-color: rgba(0, 238, 255, 0.548);
    text-align: left;
    overflow: hidden;
}

.buttons {
    height: 3rem;
    position: fixed;
    bottom: 12rem;
    right: 0.5rem;
    z-index: 9999
}

button {
    width: 6rem;
}

#result {
    background-color: rgba(255, 255, 255, 0.35);
    height: 3rem;
    position: fixed;
    top: 4rem;
    height: 20rem;
    overflow-y: scroll;
    right: 0.5rem;
    z-index: 9999;
    width: 6rem;
    word-break: break-all;
}